.sizing {
    display: block;
    margin: auto;
    
}
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

table th {
    background-color: greenyellow;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Comic Neue', cursive; 
    border-style: ridge;
    font-weight: 100;
    /* border-color:rgba(255, 208, 0, 0.986); */
}
table td:first-child {
    background-color: wheat;
    border-radius: 10px;
}
table td:last-child {
    background-color: wheat;
    border-radius: 10px;
}
table td {
    font-family: comic sans ms;
    padding: 5px;
    background-color: orchid;
    border-radius: 10px;
    text-align: center;
    font-weight: 100;
    

}
td:hover
{
    border-style: ridge;
    border-color:rgba(255, 208, 0, 0.986);
    font-weight: bold;
}
th:hover
{
    border-style: ridge;
    border-color:rgba(255, 208, 0, 0.986);
    font-weight: bold;
}
h1 {
    font-family: comic sans ms;
    text-align: center;
}
.word {
    text-align: center;
}
.cookieImage {
    display: block;
    margin: auto;
}
h2, ul {
    color: rgb(187, 16, 187);
    font-family: 'Nanum Brush Script', cursive;
    list-style:url('../images/cookies.png')
}
h3 {
    color:  rgb(187, 16, 187);
    font-family: comic sans ms;
    text-align: center;

}
  input {
    font-family: comic sans ms; 
      display: block;
      height: 25px;
      margin: auto;
      margin: 3px auto;
      border-radius: 10px;
      border-color: orchid;
      background-image: linear-gradient(to right, #00ffff, rgb(25, 199, 199));
  }
  fieldset {
    font-family: comic sans ms; 
      width: 30%;
      margin: auto;
      border-style:dashed;
      border-radius: 10px;
      border-color: rgba(0, 224, 253, 0.904);
      text-align: center;   
  }
  label {
      text-align: center;
      
      
  }
  legend {
      /* margin: auto; */
      border-style:outset;
      background: rgba(0, 224, 253, 0.904);
      margin-bottom: 15px;
      
  }
  button {
    background-color: rgba(0, 224, 253, 0.904);
    font-family: comic sans ms; 
    border-radius: 10px;
    border-color: orchid;
    color: rgba(61, 28, 138, 0.815);
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 20px;
    cursor: pointer;
  }
  button:hover{
    border-color:rgba(255, 208, 0, 0.986);
    background-image: linear-gradient(to right, #00ffff, rgb(25, 199, 199));
/*     transition: cubic-bezier(0.77, 0, 0.175, 1) 5s ease-in-out; */ 
    color: #FFFFFF;
  }
 /*  table tr:last-child { background:transparent; } */
  
  .mystyle th {
      background-color: rgb(224, 70, 178);
  }
